# Builds & Caches
.cache
.dccache
.firebase
.snowpack
dist

# Dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/

# Environmental Variables
.env
.firebaserc

# Error Logs
*.log

# Local settings
.vscode/
!.vscode/cspell.json

# Test Coverage
coverage/