# Builds & Caches
.pnp.*
.terraform
*.tfstate
*.tfstate.backup
dist
zips

# Dependencies
web/.yarn/*
!web/.yarn/patches
!web/.yarn/plugins
!web/.yarn/releases
!web/.yarn/sdks
!web/.yarn/versions
node_modules

# Environmental Variables
.env
*.tfvars
.config/terraform/backend-config/*.hcl
!.config/terraform/backend-config/template.hcl

# Error Logs
*.log

# Local settings
.vscode/
!.vscode/cspell.json

# Test Coverage
coverage/