go 1.22.1

use (
	./serverless
	./serverless/author/post
	./serverless/book/delete
	./serverless/book/patch
	./serverless/book/post
	./serverless/books/get
	./serverless/init
	./serverless/options
	./serverless/reader/delete
	./serverless/readers/get
	./serverless/readers/post
	./serverless/readers/put
)
