@import '~/style/colors.scss';
@import '~/style/mixins.scss';
@import '~/style/typography.scss';

@mixin label-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin: 0.7rem 0;
}

@mixin label-text {
  font-family: $fontFamilyHeadings;
  font-size: $fontSizeNormal;
  font-weight: 600;
}

.form {
  @include border-light-shadow;
  background-color: $greyLightest;
  margin: 0 1rem 1rem;
  padding: 1rem 0.5rem;

  @include breakpoint(laptop) {
    @include form-layout;
  }

  &-label {
    @include label-grid;
    @include label-text;

    > input {
      margin: 0 0.5rem;
    }
  }

  &-meta-label {
    @include label-grid;

    &-text {
      @include label-text;
    }
  }

  &-sub-label {
    @include label-text;
    display: flex;
    margin: 0 1rem;

    > input {
      margin: 0 0.5rem;
    }

    &-column {
      display: flex;
      flex-direction: column;
    }

    &-container {
      display: flex;
    }
  }

  &-submit {
    align-self: flex-end;
    margin: 1rem 0.5rem 0;
  }
}
