@import '~/style/colors.scss';
@import '~/style/mixins.scss';

.book-list {
  @include border-light-shadow;
  @include reset-ul;
  overflow: hidden;
  margin: 1rem;
  position: relative;

  > li {
    padding: 0.5rem;

    &:not(.read) {
      background-color: $white;
    }

    &:not(:last-of-type) {
      border-bottom: $borderGreyLight;
    }
  }
}

.loader {
  @include border-light-shadow;
  background-color: $white;
  height: 70vh;
  margin: 1rem;
  padding-top: 7rem;
  text-align: center;
}

.read {
  background-color: $greyLightest;
  color: $greyDark;
}
