@import '../../style/colors.scss';
@import '../../style/mixins.scss';

.book-list {
  @include border-light-shadow;
  @include reset-ul;
  overflow: hidden;

  > li {
    padding: 0.5rem;

    &:not(:last-of-type) {
      border-bottom: $borderGreyLight;
    }
  }
}

.loader {
  @include border-light-shadow;
  height: 70vh;
  margin: 1rem 0;
  padding-top: 7rem;
  text-align: center;
}

.read {
  background-color: $greyLightest;
  color: $greyDark;
}
