@import '~/style/breakpoints.scss';
@import '~/style/colors.scss';

.list-item {
  align-items: center;
  display: grid;
  grid-template-columns: 30px 30px 1fr;
  column-gap: 0.5rem;

  &-author {
    display: none;

    @include breakpoint(tablet) {
      display: inline-block;
    }
  }

  &-text {
    margin: 0 0.5rem;
    white-space: nowrap;
  }
}

@mixin icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 25px;
  margin: 0 0.5rem;
  width: 25px;
}

.checked {
  &-blue {
    background: url('~/assets/icons/check-square-blue.svg');
    @include icon;
  }

  &-pink {
    background: url('~/assets/icons/check-square-pink.svg');
    @include icon;
  }

  &-generic {
    background: url('~/assets/icons/check-square.svg');
    @include icon;
  }
}

.unchecked {
  background: url('~/assets/icons/square.svg');
  @include icon;
}
