@import 'style/breakpoints.scss';
@import 'style/colors.scss';
@import 'style/mixins.scss';

.author {
  display: none;

  @include breakpoint(tablet) {
    display: inline-block;
    margin-left: 0.2rem;
  }
}

.text {
  margin: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.trigger {
  @include button-reset;
  align-items: center;
  display: flex;
  height: 100%;
  padding: 0.5rem;
  width: 100%;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    background-color: rgba($blueLight, 0.2);
    outline: none;
  }

  > div {
    flex-shrink: 0;
  }
}
