@import '../../style/colors.scss';

.list-item {
  align-items: center;
  display: flex;
}

@mixin icon {
  background-position: center;
  background-size: cover;
  display: block;
  height: 25px;
  margin: 0 0.5rem;
  width: 25px;
}

.checked {
  &-blue {
    @include icon;
    background: url('../../assets/icons/check-square-blue.svg');
  }

  &-pink {
    @include icon;
    background: url('../../assets/icons/check-square-pink.svg');
  }

  &-generic {
    @include icon;
    background: url('../../assets/icons/check-square.svg');
  }
}

.unchecked {
  @include icon;
  background: url('../../assets/icons/square.svg');
}
