@import 'style/colors.scss';
@import 'style/mixins.scss';
@import 'style/typography.scss';

@mixin label-text {
  font-family: $fontFamilyHeadings;
  font-size: $fontSizeNormal;
  font-weight: 600;
}

.form {
  @include border-light-shadow;
  background-color: $greyLightest;
  margin: 0 1rem 1rem;
  padding: 1rem 0.5rem;
  position: relative;

  @include breakpoint(laptop) {
    @include form-layout;
  }
}

.button {
  margin: 1rem 0.5rem 0;

  &-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    
    @include breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-group {
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
      display: block;
    }
  }
}

.grid {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;

  @include breakpoint('tablet') {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, calc((100% - 2rem)/2));
  }

  @include breakpoint('laptop') {
    grid-template-columns: repeat(3, calc((100% - 2rem)/3));
  }

  > div {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    border: $borderGreyLight;
    border-radius: $borderRadius;
    background-color: $white;
    box-shadow: $boxShadowGrey;
  }

  button {
    margin: 1rem 0;
    align-self: center;

    @include breakpoint('tablet') {
      align-self: normal;
    }
  }
}

.label {
  @include label-grid;
  @include label-text;

  &.condensed {
    grid-template-columns: 5rem 1fr;
  }

  > input,
  > div,
  > select {
    margin: 0.5rem 0;
    width: 100%;

    @include breakpoint('tablet') {
      margin: 0 0.5rem;
      width: calc(100% - 0.5rem);
    }
  }

  > input:read-only,
  > select:disabled {
    color: $greyDark;
  }
}

.meta-label {
  @include label-grid;

  &-text {
    @include label-text;
  }
}

.sub-label {
  @include label-text;
  display: flex;
  margin: 0 1rem;

  > input {
    margin: 0 0.5rem;
  }

  &-column {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    @include breakpoint('tablet') {
      margin: 0;
    }
  }

  &-container {
    display: flex;
  }
}

.title {
  margin: 0.5rem 0 1rem;
  text-align: center;
}

.bottom-bar {
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
}

.nested-form {

  .nested-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @include breakpoint('tablet') {
      grid-template-columns: repeat(2, calc(50% - .75rem));
    }

    > label {
      @include label-grid;
    }
  }

  .nested-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 0.25rem 0.2rem 0;
  }
}