@import 'style/colors.scss';
@import 'style/mixins.scss';

.page-wrapper {
  @include form-layout;
  background-color: $white;

  > h2,
  > h3,
  > h4,
  > h5 {
    margin: 0.5rem 0;
  }

  > p {
    margin: 0.3rem 0;
  }

  > ol,
  > ul {
    margin-left: 2rem;
  }
}

.subhead {
  margin: 1.5rem 0;
  position: relative;
  text-align: center;

  &.input-header {
    @include breakpoint(laptop) {
      margin-left: 5rem;
      width: calc(70% - 5rem);
    }
  }
}
