@import '~/style/colors.scss';
@import '~/style/mixins.scss';

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &-items {
    @include reset-ul;
    display: flex;

    > li:not(:first-of-type) {
      margin-left: 1rem;
    }
  }

  &-link:hover {
    @include link-hover-white;
  }
}
