# Serverless
.serverless
.env
tmp
.coveralls.yml

# Google
keyfile.json

# Logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Build Artifacts
.build/
build/Release

# Dependencies
node_modules

# OS
.DS_Store
.tmp
