@import 'style/breakpoints.scss';
@import 'style/colors.scss';
@import 'style/mixins.scss';

.background {
  background: $gradientPinkBlueLight;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

.close {
  @include button-reset;
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 1rem;
  z-index: 1;

  &:focus {
    box-shadow: $focusShadow;
    outline: none;
  }

  &-icon {
    background: url('~/assets/icons/x.svg');
    @include icon;
    margin: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 50%;
  margin: -50vh -50vw;
  position: fixed;
  right: 50%;
  top: 50%;
  width: 100vw;
  z-index: 10;
}

.content {
  display: block;
  max-width: 700px;
  position: relative;
  width: 100%;

  @include breakpoint(tablet) {
    width: 70%;
  }
}
