@import '~/style/colors.scss';
@import '~/style/mixins.scss';
@import '~/style/typography.scss';

.login {
  &-content {
    margin: 0.5rem 0 1rem;
  }

  &-prompt {
    @include border-light-shadow;
    @include form-layout;
    align-items: center;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-heading {
    font-family: $fontFamilyHeadings;
  }
}
