@import 'style/colors.scss';
@import 'style/mixins.scss';
@import 'style/typography.scss';

.content {
  margin: 0.5rem 0 1rem;
}

.prompt {
  @include border-light-shadow;
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1rem 1rem;
  padding: 1rem 0.5rem;
  position: relative;

  @include breakpoint(laptop) {
    @include form-layout;
    margin-left: 5rem;
    width: calc(70% - 5rem);
  }
}

.heading {
  font-family: $fontFamilyHeadings;
  text-align: center;
}
