@import 'style/colors.scss';
@import 'style/mixins.scss';
@import 'style/typography.scss';

header {
  background: $blueLight;
  background: $gradientPinkBlueLight;
  box-shadow: $boxShadowGreyDark;
  color: $blueDark;
  padding: 0.1rem 0;

  @include breakpoint(laptop) {
    margin-bottom: 1.5rem;
  }
}

.container {
  @include page-width;
}

.masthead {
  @include heading-style;
  font-size: $fontSizeXLarge;
  display: block;
  margin: 2rem 0 1rem;
  text-align: center;

  @include breakpoint(tablet) {
    text-align: left;
  }
}
