@import '~/style/breakpoints.scss';
@import '~/style/colors.scss';

.mask {
  display: none;
  fill: $white;
  position: absolute;
  height: 60vh;
  width: 100%;

  @include breakpoint(laptop) {
    display: block;
  }

  &-background {
    background-image: url('~/assets/book-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
  }

  &-container {
    display: none;
    position: sticky;
    top: 0;

    @include breakpoint(tablet) {
      display: block;
    }
  }

  &-credit {
    visibility: hidden;
  }

  &-bottom {
    margin-top: calc(100vh - 60vh);
  }
}
