@import 'style/colors.scss';
@import 'style/mixins.scss';

.nav {
  align-items: center;
  display: none;
  justify-content: space-between;

  @include breakpoint(tablet) {
    display: flex;
  }
}

.items {
  @include reset-ul;
  display: flex;
  font-family: $fontFamilyHeadings;
  font-size: $fontSizeNormal;
  font-weight: 600;

  .item {
    position: relative;
  }

  > li:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.active {
  @include link-hover-blue;

  // Shift the active link indicator down to match the bottom of the focus ring.
  &:focus-visible::before {
    bottom: -0.4rem;
    transition: bottom 0.2s;
  }

  // Shift the active link indicator back when no longer in focus.
  &::before {
    bottom: -2px;
    transition: bottom 0.2s;
  }
}

.link {
  @include border-blue-focus;

  padding: 0.4rem;

  &:hover {
    @include link-hover-white;
  }
}
