@import './breakpoints.scss';
@import './colors.scss';
@import './typography.scss';

@mixin button-reset {
  background-color: transparent;
  border: none;
  color: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
  text-align: unset;
}

@mixin icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 25px;
  margin: 0 0.5rem;
  width: 25px;
}

@mixin link-hover {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 5px;
    transform: skew(-20deg);
    z-index: 1;
  }
}

@mixin link-hover-white {
  @include link-hover;

  &::before {
    background: $white30;
  }
}

@mixin link-hover-blue {
  @include link-hover;

  &::before {
    background: $blueDark25;
  }
}

@mixin page-width {
  margin: 0 auto;
  max-width: 1200px;
  width: 95vw;
}

@mixin reset-ul {
  list-style: none;
  padding: 0;
}

@mixin form-layout {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

@mixin label-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.7rem 0;

  @include breakpoint('tablet') {
    grid-template-columns: 7rem 1fr;
  }
}

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}