@import './colors.scss';
@import './mixins.scss';
@import './typography.scss';

* {
  box-sizing: border-box;
}

* + * {
  margin: 0;
  padding: 0;
}

a {
  background-size: 0 100%;
  color: $blueDark;
  font-weight: 600;
  text-decoration: none;
}

body {
  @include font-base;
  font-size: $fontSizeNormal;
}

button {
  font-family: $fontFamilyHeadings;
  font-size: $fontSizeNormal;
  font-weight: 600;
}

dialog {
  background: none;
  border: none;
}

h1 {
  @include heading-style;
  font-size: $fontSizeLarge;
}

h2 {
  @include heading-style;
  font-size: $fontSizeMediumLarge;
}

h3 {
  @include heading-style;
  font-size: $fontSizeMedium;
}

h4 {
  @include heading-style;
  font-size: $fontSizeMediumSmall;
}

h5 {
  @include heading-style;
  font-size: $fontSizeNormal;
}

main {
  background-color: $white;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.5rem 0;
  position: relative;

  @include breakpoint('tablet') {
    margin: 0.3rem 1rem;
  }

  @include breakpoint('laptop') {
    background-color: transparent;
    transform: translateY(-10rem);
  }
}

input,
select {
  @include border-light;
  @include font-base;
  box-shadow: $boxShadowInset;
  font-size: $fontSizeNormal;
  line-height: 1.5;
  padding: 0.1rem 0.3rem;

  &:focus {
    box-shadow: $focusShadow;
    outline: none;
  }
}

strong {
  font-weight: 600;
}

table {
  @include border-light;
  @include border-light-shadow;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

td,
th {
  border: $borderGreyLight;
  padding: 0.5rem 1rem;
  text-align: center;
}

th {
  border-bottom: 2px solid $greyDark;
}

.page-container {
  position: relative;

  @include breakpoint(laptop) {
    @include page-width;
  }
}
