@import '~/style/breakpoints.scss';
@import '~/style/colors.scss';
@import '~/style/typography.scss';

.overlay {
  align-items: center;
  background-color: $blueLight;
  background: $gradientPinkBlueLight;
  border-radius: 5px;
  color: $blueDark;
  display: flex;
  font-family: $fontFamilyHeadings;
  font-size: $fontSizeMedium;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  margin: -1rem -0.5rem;
  opacity: 0.9;
  position: absolute;
  text-align: center;
  width: 100%;

  @include breakpoint(laptop) {
    margin: -1rem;
  }
}
